html,
body {
  background: black;
  color: var(--bs-light);
}

input[type="text"],
input[type="password"] {
  background-color: #e5e5e5 !important;
}

.float-right {
  float: right;
}

.form-control:focus {
  border-color: #fff;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

.logo {
  width: 100%;
  padding-right: 4px;
  max-width: 600px;
}

.alert {
  padding: 0.2rem 0.8rem;
}

.scan-card {
  min-width: 300px;
  max-width: 400px;
}

.scan-card .form-check {
  font-size: 16pt;
  font-weight: 500;
  padding-left: 0;
}

.scan-card .form-check .form-check-input {
  box-shadow: none !important;
  border-color: #333 !important;
  margin-left: 0;
}

.scan-card .form-check .form-check-input:checked {
  background-color: black;
}

.scan-card .form-check label {
  padding-left: 15px;
}

.scan-card .datetime {
  color: #cdcdcd;
}

.scan-card .preview {
  max-width: 100%;
}

.modal-header {
  border-bottom: 1px solid #bbbcbd;
}

.modal-footer {
  border-top: 1px solid #bbbcbd;
}

#mass-container {
  padding: 10px 20px;
  background: #018eab;
  opacity: 0.94;
  display: flex;
}

.footer {
  margin-top: 20px;
  background-color: #333;
  user-select: none;
}
